body {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/layer.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

body.inner-page {
  color: #000000;

  background: none;
  background-color: #f9f6f3;
  background-image: url("../img/light-pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-header {
  margin-bottom: 75px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  order: 2;
  width: 371px;
  height: 155px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
  color: #ffffff;
}

.user-navigation .login-link {
  position: relative;

  padding-left: 54px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 25px;

  width: 16px;
  height: 16px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:active::before,
.login-link:focus::before {
  opacity: 1;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:active,
.user-navigation a:active,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #242424;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 56px;
  height: 4px;
  margin-left: -28px;

  background-color: #ffffff;
}

.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000000;
}

.inner-page .main-navigation {
  flex-direction: row;
  align-items: flex-start;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #f7f4f1;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #663d15;
}

.btn:disabled,
.btn:disabled {
  background-color: #000000;
  cursor: default;
  opacity: 0.5;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 300px;

  text-align: center;
}

.feature-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}


.feature-item p {
  margin: 0;
  padding: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 45px 80px;

  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/line.png"),
  url("../img/light-pattern.png");
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;
  /*вставить паттерн в фон*/
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.address p {
  margin: 0;
  margin-bottom: 25px;
}

.news-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.gallery-btn {
  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  width: 140px;
  margin: 0;
}

.gallery-btn-back {
  left: 0;
}

.gallery-btn-next {
  right: 0;
}

.gallery-content {
  height: 164px;
  margin: 0;

  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.contacts address {
  font-style: normal;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form-fields-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.appointment-form-fields-item {
  width: 140px;
  margin-bottom: 10px;
}

.appointment-form-fields-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-form-fields-item input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-form-fields-item input:focus {
  border-color: #663d15;
}

.appointment-form .btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
  line-height: 20px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;

  width: 8px;
  height: 8px;
  margin-top: -4px;

  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.catalog-filter {
  width: 180px;
}

.catalog-filter-form fieldset {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border: none;
}

.catalog-filter-form legend {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
}

.catalog-filter-form-fields {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 18px;
}

.catalog-filter-form-fields li {
  margin-bottom: 8px;
}

.catalog-filter-form-fields label {
  position: relative;

  display: block;
  padding: 5px 0;
  padding-left: 45px;
}

.catalog-filter-form-input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  border: 2px solid #000000;
}

.catalog-filter-form-input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;

  display: none;
  width: 12px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-filter-form-input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.catalog-filter-form-input[type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;

  display: none;
  width: 8px;
  height: 8px;
  margin-top: -4px;

  background-color: #000000;
  border-radius: 50%;
}

.catalog-filter-form-input:hover + label,
.catalog-filter-form-input:focus + label,
.catalog-filter-form-input:active + label {
  color: #663d15;
}

.catalog-filter-form-input[type="checkbox"]:checked + label::after {
  display: block;
}

.catalog-filter-form-input[type="radio"]:checked + label::after {
  display: block;
}

.catalog-filter-form-input:disabled + label,
.catalog-filter-form-input:disabled + label::before,
.catalog-filter-form-input:disabled + label::after {
  color: #000000;

  opacity: 0.5;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  /*display: flex;
  flex-basis: 220px;
  flex-direction: column;*/
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
}

.catalog-item > a {
  display: flex;
  flex-direction: column;

  color: #000000;
}

.catalog-item h3 {
  order: 1;
  margin: 0;
  padding: 18px 15px;

  line-height: 18px;
}


.catalog-item p {
  margin: 0;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

.catalog-item-price b {
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 12px;

  text-align: center;

  background-color: #f5f5f5;

  //display: block;
  //vertical-align: middle;
}

.catalog-item-price .btn {
  margin-right: 0;

  text-align: center;
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  width: 43px;
  height: 43px;

  text-align: center;

  background-color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #663d15;
}

.pagination-item a {
  display: block;
  padding-top: 11px;
  padding-bottom: 12px;

  color: #ffffff;
}

.pagination-item-current {
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-item-current:hover,
.pagination-item-current:focus {
  background-color: #ffffff;
}

.product-photos {
  width: 460px;
}

.product-photo-full {
  margin-bottom: 20px;

  box-shadow: 0 0 15px 0 rgba(0,1,1,0.2);
}

.product-photo-preview {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-photo-preview li {
  margin-right: 20px;
  margin-bottom: 20px;

  box-shadow: 0 0 15px 0 rgba(0,1,1,0.2);
}

.product-photo-preview li:last-child {
  margin-right: 0;
}

.product-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-description {
  margin-bottom: 35px;
}

.product-price {
  display: flex;
  width: 187px;
  margin: 0;
  margin-bottom: 55px;
}

.product-price b {
  width: 108px;
  padding-top: 12px;
  padding-bottom: 12px;

  text-align: center;

  background-color: #e5e5e5;
}

.product-price .btn {
  padding-right: 15px;
  padding-left: 15px;
}

.product-info {
  width: 390px;
}

.product-info h3 {
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-info li {
  position: relative;

  margin-bottom: 7px;
  padding-left: 20px;
}

.product-info li::before,
.brands-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 8px;
  height: 8px;
  margin-top: -4px;

  background-color: #000000;
  transform: rotate(45deg);
}

.product-description a {
  color: #000000;
}

.product-description a:hover,
.product-description a:focus,
.product-description a:active {
  text-decoration: underline;
}

.slogan {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.brands {
  width: 380px;
}



.brands-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-list li{
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}

.brands h2,
.price-list h2,
.company-description h2 {
  margin: 0;
  margin-bottom: 35px;
  width: 240px;

  font-size: 24px;
  line-height: 30px;
}

.company-description h2{
  margin-top: 60px;
  margin-bottom: 30px;
}

.price-list {
  width: 460px;
}

.price-list h2{
  width: 180px;
}

.price-list-table {
  border-collapse: collapse;

  background-color: #f9f6f3;
}

.price-list-table td {
  width: 231px;
  padding: 12px 0;
  padding-left: 19px;

  vertical-align: middle;
  text-align: left;

  border: 2px solid #000101;

  //min-height: 43px;
}

.price-list-table .price {
  text-align: center;
}

.company-description .catalog-columns{
  display: flex;
  justify-content: space-between;
}

.company-description .column {
  width: 390px;
  text-align: justify;
}



p.slogan {
  margin: 0 auto;
  margin-bottom: 70px;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../img/dark-pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 310px;
  margin-right: 90px;

  font-style: normal;
}

.main-footer a {
  color: #ffffff;
}

.footer-contacts a {
  text-decoration: underline;
}

.footer-social {
  width: 145px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-btn {
  display: flex;
  justify-content: center;
      align-items: center;
  width: 43px;
  height: 43px;

  background-color: #000000;

  -ms-align-items: center;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #ffffff;
}

.social-btn:hover path,
.social-btn:focus path {
  fill: #000000;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;

  text-align: center;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .btn {
  display: block;
  margin-right: 0;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.modal {
  display: none;
}

.modal-login {
  color: #000000;

  background-color: #ffffff;
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}

.modal-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-form input[type="text"],
.modal-form input[type="password"] {
  font: inherit;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #000000;
}

.modal-form input:focus {
  border-color: #663d15;
}

.modal-form .remember:hover,
.modal-form .remember:focus {
  color: #663d15;
}

.modal-form a {
  color: #000000;
  text-decoration: underline;
}

.modal-form a:hover,
.modal-form a:focus {
  text-decoration: none;
}

.modal-map img {
  border: 7px solid #ffffff;
}

/*body > * {
  background-color: rgba(255,0,0,0.3);
}

body > * > * {
  background-color: rgba(0,0,255,0.3);
}

body > * > * > * {
  background-color: rgba(0,255,0,0.3);
}

body > * > * > * > * {
  background-color: rgba(255,255,0,0.3);
}
*/
